.dl-table {
  a {
    @supports ((text-decoration-thickness: initial) and (text-underline-offset: initial)) {
      text-underline-offset: .8rem;
    }
    @supports not ((text-decoration-thickness: initial) and (text-underline-offset: initial)) {
      padding-bottom: .45rem;
    }
  }

  .btn, .gumroad-button  {
    margin: 1rem 0;
  }
}

main > footer.content {
  position: absolute;
  bottom: auto !important;
  left: 0;
  right: 0;
  color: var(--gray);
  text-align: center;
  min-height: 0;
  padding-top: 0;
  padding-bottom: 2rem;

  > p {
    margin-bottom: 0;
  }
  flex-shrink: 0 !important;
  @media print {
    display: none;
  }
}

.designation_label {
  font-size: 3vmin;
  color: #8bf;
  text-align: left;
  font-family: Lato, sans-serif;
  font-weight: 700;
}

@keyframes typing {
  0.0000%, 51.3488% { content: ""; }
  1.1395%, 50.2093% { content: "d"; }
  2.2791%, 49.0698% { content: "da"; }
  3.4186%, 47.9302% { content: "data"; }
  4.5581%, 46.7907% { content: "data "; }
  5.6977%, 45.6512% { content: "data s"; }
  6.8372%, 44.5116% { content: "data sc"; }
  7.9767%, 43.3721% { content: "data sci"; }
  9.1163%, 42.2326% { content: "data scie"; }
  10.2558%, 41.0930% { content: "data scien"; }
  11.7674%, 40.2791% { content: "data scient"; }
  12.9070%, 39.1395% { content: "data scienti"; }
  13.0465%, 38.0000% { content: "data scientis"; }
  14.1860%, 36.8605% { content: "data scientist"; }
  15.3256%, 35.7209% { content: "data scientist."; }


  54.6977%, 96.2093% { content: ""; }
  55.8372%, 95.0698% { content: "s"; }
  56.9767%, 94.9302% { content: "so"; }
  58.1163%, 93.7907% { content: "sof"; }
  59.2558%, 92.6512% { content: "soft"; }
  60.3953%, 91.5116% { content: "softw"; }
  61.5349%, 90.3721% { content: "software"; }
  62.6279%, 89.8605% { content: "software "; }
  63.7674%, 88.7209% { content: "software d"; }
  64.9070%, 87.5814% { content: "software de"; }
  65.0465%, 86.4419% { content: "software dev"; }
  66.1860%, 85.3023% { content: "software deve"; }
  67.3256%, 84.1628% { content: "software devel"; }
  68.3256%, 83.1628% { content: "software develo"; }
  69.3256%, 82.1628% { content: "software develop"; }
  70.3256%, 81.1628% { content: "software develope"; }
  71.3256%, 80.1628% { content: "software developer."; }
}

@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

.typewriter {
  --caret: currentcolor;
}

.typewriter::before {
  content: "";
  animation: typing 10s infinite;
}

.typewriter::after {
  content: "";
  border-right: 1px solid var(--caret);
  animation: blink 0.5s linear infinite;
}

.about_description {
  display: inline;
}

table {
  width:100% !important;
}

table > thead, tbody, tr, td {
  width:100% !important;
}

// .lead.aspect-ratio.sixteen-nine { 
//   border: 1px solid var(--border-color);
//   transition: border-color 500ms ease;
// }

// applause-button

applause-button {
  width: 80px;
  height: 80px;
  margin: 0 auto;

  .count-container {
    color: inherit;
  }
}


.center_image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}